p {
    font: 18px/24px Times New Roman, sans-serif;
    margin: 15px 0;
    text-align: justify;
    text-indent: 1.5em;
}

#about-img-row img {
    width: 100%;
}

@media (max-width: 767.5px) {
    .float-img img {
        width: 45%;
        margin: 5px;
    }
    #about-img-row img {
        margin: 10px;
    }
}