.paint-col {
    height: 20%;
    padding: 10px;
}

.paint-col a {
    width: 100%;
    height: 100%;
}

.info {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0 -10px;
    padding: 10px 15px;
    z-index: 2;
}

.paint-col:hover .info {
    display: block;
    background-color: #fff;
}

.paint-col:hover {
    background-color: #fff;
}

.info p {
    margin: 0 0 0 8px;
}

.paint {
    width: 100%;
    height: 20%;
    object-fit: contain;
    /* -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8); */
}

.paint:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#art-list-btn {
    border: none;
    background: none;
    color: black;
    font: inherit;
    padding: 5px;
}

#art-list-btn:focus {
    border: 1px solid#8A2908;
    box-shadow: none;
}

p div {
    display: inline;
}

#art-list {
    color: black;
}

#art-list a:hover {
    background-color: inherit;
    border: 1px solid #8A2908;
}

#art-list a:active {
    background: inherit;
    background-color: #8A2908;
    color: #fff;
}

#page-down,
#page-up {
    width: 80%;
    opacity: 0.5;
    object-fit: contain;
    display: none;
}

#page-down:hover,
#page-up:hover {
    opacity: 0.8;
}