body {
    background-image: url("http://rostovskyart/img/bg.png");
    font: 18px/24px Times New Roman, sans-serif;
    color: #404040;
}

#small-menu {
    display: none;
}

#big-menu {
    display: none;
}

#content {
    max-width: 1400px;
}

.row {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    #small-menu {
        display: none;
    }
    #big-menu {
        display: block;
        width: 100%;
    }
    #nav-logo {
        width: 80%;
        object-fit: contain;
        margin: 0 10%;
    }
    #content {
        margin-top: 5.5%;
    }
}

@media screen and (max-width: 767.5px) {
    #small-menu .dropdown-toggle::after {
        content: none;
    }
    #small-menu {
        display: block;
    }
    #small-menu button {
        padding: 0;
        background-color: inherit;
        border: none;
    }
    #small-menu button:active {
        outline: none;
        box-shadow: none;
    }
    #small-menu button:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #8A2908;
    }
    #big-menu {
        display: none;
    }
    #nav-logo {
        height: 40px;
        object-fit: contain;
    }
    #content {
        margin-top: 60px;
    }
}

#navbar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-image: url("http://rostovskyart/img/bg-navbar.png");
}

.nav-link {
    display: inline;
    color: #8A2908;
    text-decoration: underline;
    font: 18px/24px Arial, sans-serif;
}

#navbar a:focus {
    outline-color: #8A2908;
}

.nav-link:hover {
    color: #ffffff;
    background-color:rgb(150, 98, 81);
}

@media (max-width:1336.5px) {
    .nav-link {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
}

@media (max-width:882px) {
    .nav-link {
        font-size: 13px;
    }
    h2 {
        font-size: 24px;
    }
}

@media (max-width:844px) {
    .nav-link {
        font-size: 12px;
    }
    h2 {
        font-size: 23px;
    }
}

@media (max-width:804px) {
    .nav-link {
        font-size: 11px;
    }
    h2 {
        font-size: 22px;
    }
}

#footer {
    height: 150px;
}

.exposition {
    margin-bottom: 10px;
}

.float-img {
    display: none;
}

@media(min-width: 768px) {
    .float-img img:nth-child(even) {
        float: left;
    }
    .float-img img:nth-child(odd) {
        float: right;
    }
    .float-img img {
        /* width: 70%; */
        margin: 20px 0;
    }
}

@media (max-width:767.5px) {
    .float-img img {
        width: 100%;
        margin: 10px;
        float: none;
    }
}