body {
    background-image: url("http://rostovskyart/img/bg.png");
    font: 18px/24px Times New Roman, sans-serif;
    color: #404040;
}

.row {
    margin: 0;
}

#navbar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-image: url("http://rostovskyart/img/bg-navbar.png");
}

#nav-logo {
    width: 90%;
    margin: 0 5%;
}

.nav-link {
    display: inline;
    color: #8A2908;
    text-decoration: underline;
    font: 18px/24px Arial, sans-serif;
}

#navbar a:focus {
    outline-color: #8A2908;
}

.nav-link:hover {
    color: #8a2908;
    text-decoration: none;
}

#content {
    margin: 4.5% 0 0 0;
}

#footer {
    height: 150px;
}

.exposition {
    margin: 0 0 0 10px;
}